@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello! Let's check your work</h1>

<div class="container" style="background-image: url('http://www.tumenpro.ru/wp-content/uploads/2018/03/nablyudenie.png'); height: 800px; width: 720px">
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@