@inject IWebHostEnvironment Environment;
@inject CurrentUser _CurrentUser;
@inject IChecking _Checking;
@inject IFilePreparing _TextPreparing;
@inject ILCodePreparing _IlCodePreparing;

@page "/ResultPage"
@using BlazorApp.Data
@using System.Text
@using System.Diagnostics

<h3>Results:</h3>
@if (_CurrentUser.UserName != null)
{
    <label>Result for @_CurrentUser.UserName:</label>
    <label>text result of plagiary = @textCheckResult.ToString("0.00") %</label>
    <label>il code = @ilCheckResult.ToString("0.00") %</label>
}

@code {
    Dictionary<string, List<string>> _textDictionary;
    Dictionary<string, List<string>> _ilCodeDictionary;
    double textCheckResult = 0;
    double ilCheckResult = 0;

    protected override void OnInitialized()
    {
        if(_CurrentUser.UserName is null)
            return;
        
        string path = Path.Combine(Environment.ContentRootPath, "uploads");
        string saveIlPath = Path.Combine(Environment.ContentRootPath, "il");
        
        if(!Directory.Exists(saveIlPath))
            Directory.CreateDirectory(saveIlPath);
        
        _TextPreparing = new TextPreparing();
        _IlCodePreparing = new ILCodePreparing();

        Extracting.ExtractAll(path);
        _textDictionary = _TextPreparing.FillCheckingDictionary(path);
        _ilCodeDictionary = _IlCodePreparing.FillCheckingDictionary(path, saveIlPath);
        
        textCheckResult = _Checking.CalculatePlagPercent(_CurrentUser.UserName, _textDictionary);
        ilCheckResult = _Checking.CalculatePlagPercent(_CurrentUser.UserName, _ilCodeDictionary);
        WriteResultToFile(textCheckResult);
    }

    private void WriteResultToFile(double result)
    {
        var folderPath = Path.Combine(Environment.ContentRootPath, "results");
        if(!Directory.Exists(folderPath))
            Directory.CreateDirectory(folderPath);

        string resultsPath = Path.Combine(folderPath, "results.txt");

        if (!File.Exists(resultsPath))
        {
            var resFile = File.Create(resultsPath);
            resFile.Close();
        }

        using (FileStream fstream = new FileStream(resultsPath, FileMode.Append))
        {
            using (StreamWriter writer = new StreamWriter(fstream, Encoding.Default))
            {
                writer.WriteLine($"{_CurrentUser.UserName}:{result}");
            }
        }
    }
}